* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Include padding and border in element width */
}
/* put the container2 in grid-template-areas and give it a gap of 20px */
.container2 {
    display: grid;
    grid-template-areas:
        "head"
        "nav"
        "intro"
        "card1"
        "card2"
        "card3"
        "card4"
        "foot";
    gap: 2px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #848FA5;
    color: #0D1321;
    min-height: 100%;
    width: 100%;
}
/* put the art-card in the grid-template-areas */

.art-card {
    max-width: 300px; /* Set maximum width for the art cards */
    height: auto; /* Maintain aspect ratio */
    background-size: cover; /* Ensure the background image covers the card */
    background-position: center; /* Center the background image */
    border-radius: 10px; /* Rounded corners for the cards */
    margin: 10px; /* Space between cards */
    display: flex; /* Flexbox for centering text */
    align-items: flex-end; /* Align text to the bottom */
    color: white; /* Text color */
    padding: 170px; /* Padding for text */
}
.art-card-1 {
    grid-area: card1;
    background-image: url('../img/Nightmare-colored-digitalvers.jpg');
    height: auto; /* Maintain aspect ratio */
}

.art-card-2 {
    grid-area: card2;
    background-image: url('../img/Madara-Uchiha-TraditionalArt.jpeg');
    height: auto; /* Maintain aspect ratio */
}

.art-card-3 {
    grid-area: card3;
    background-image: url('../img/Majin-Shadow-DigitalArtColoredvers.jpg');
    height: auto; /* Maintain aspect ratio */
}

.art-card-4 {
    grid-area: card4;
    background-image: url('../img/Ultra-Instinct-Omen-Goku.jpg');
    height: auto; /* Maintain aspect ratio */
}

/* add a media query for the art-card to make it responsive for desktop */
@media only screen and (min-width: 1024px) {
    .container2 {
        display: grid;
        grid-template-areas:
            "head"
            "nav"
            "intro"
            "card1 card2 card3 card4"
            "foot";
        gap: 5px;
        padding: 0px;
        background-color: #0D1321;
        color: #0D1321;
        min-height: 100%;
        width: 100%;
    }
    /* put the art-card in the grid-template-areas */
    .art-card1 {
        grid-area: card1;
        background-image: url('../img/Nightmare-colored-digitalvers.jpg');
    }
    .art-card2 {
        grid-area: card2;
        background-image: url('../img/Madara-Uchiha-TraditionalArt.jpeg');
    }
    .art-card3 {
        grid-area: card3;
        background-image: url('../img/Majin-Shadow-DigitalArtColoredvers.jpg');
    }
    .art-card4 {
        grid-area: card4;
        background-image: url('../img/Ultra-Instinct-Omen-Goku.jpg');
    }
    .art-card {
        max-width: 300px; /* Set maximum width for the art cards */
        height: auto; /* Maintain aspect ratio */
        background-size: cover; /* Ensure the background image covers the card */
        background-position: center; /* Center the background image */
        border-radius: 10px; /* Rounded corners for the cards */
        margin: 10px; /* Space between cards */
        display: flex; /* Flexbox for centering text */
        align-items: flex-end; /* Align text to the bottom */
        color: white; /* Text color */
        padding: 170px; /* Padding for text */
    }
}
