* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  body {
    background-color: #fce7f3;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "hd hd hd"
      "sbl mn sbr"
      "ft ft ft";
    gap: 20px;
    padding: 20px;
  }
  
  .header {
    grid-area: hd;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .main {
    grid-area: mn;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .sidebar-right {
    grid-area: sbr;
    padding: 20px;
    background-color: #fbcfe8;
  }
  
  .sidebar-left {
    grid-area: sbl;
    padding: 20px;
    background-color: #fbcfe8;
  }
  
  .footer {
    grid-area: ft;
    text-align: center;
    padding: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #fbcfe8;
    padding: 10px;
  }
  
  .grid-item {
    background-color: white;
    display: flex;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 65px;
    align-items: center;
    justify-content: center;
    color: #F9A8D4;
  }
  
  .cell:hover {
    background-color: #fdf2f8;
  }


  button {
    padding: 10px 20px;
    background-color: #ec4899;
    color: white;
    border: solid black;
  }
  
  button:hover {
    background-color: #db2777;
  }
  
  ul {
    list-style-position: inside;
    margin-top: 10px;
  }
  
  li {
    margin: 5px 0;
  }
  



  @media (max-width: 1000px) {
    .wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "hd"
        "sbl"
        "mn"
        "sbr"
        "ft";
    }
  }